@{
    ViewData["Title"] = "SignUp";
}
<div class = 'row-cols-sm-2 justify-rcontent-md-center'> 
    <div class = 'row justify-rcontent-md-center' >
        <div class="row-cols-sm-2 mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="row-cols-sm-2 mb-3">
            <label for="name" class="form-label">FullName</label>
            <input type="text" class="form-control" id="name" placeholder="Fname Lname">
        </div>
        <div class="row-cols-sm-2 mb-3">
            <label for="phone" class="form-label">Email address</label>
            <input type="text" class="form-control" id="phone" placeholder="9861111111">
        </div>
        <div class="row-cols-sm-2 mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Fname Lname">
        </div>
        <div class="row-cols-sm-3 mb-3 justify-rcontent-md-center">
            <button type = 'submit' class = 'btn btn-success justify-rcontent-md-center'> SignUp </button>
        </div>
    </div>
</div>