@{
    ViewData["Title"] = "Add Category";
}

<div>
<form action="" method="POST">
         <div class="flexbox flexbox-column">
            <div class="flexbox flexbox-centre">

            </div>

            <div class="flexbox flexbox-centre">
               <h1>
                  Insert Category
               </h1>
            </div>

            <!-- main form -->
            <div class="flexbox flexbox-centre">
               <table>
                  <tr>
                     <td align="right">
                        <label for="c_name">Category name:</label>
                     </td>
                     <td></td>
                     <td align="left">
                        <input type="text" name="c_name" id="c_name" class ='form-control'>
                        <br>
                        <span class="colour-red">
                        </span>
                     </td>
                  </tr>
                  <tr>
                     <td align="right">
                        <label for="c_verifying_staff">Verified by:</label>
                     </td>
                     <td></td>
                     <td align="left">
                        <select name="c_verifying_staff" id="c_verifying_staff" class ='form-control'>
                           <option> -Current(aashish)-</option>
                        </select>
                     </td>
                  </tr>

                  <tr>
                     <td align="right">
                        <label for="c_verifying_pw">Password:</label>
                     </td>
                     <td></td>
                     
                     <td align="left">
                        </br>
                        <input type="password" min="8" name="c_verifying_pw" id="c_verifying_pw" class ='form-control'>
                        <br>
 
                     </td>
                  </tr>

                  <tr>
                     <td align="right"></td>
                     <td></td>
                     <td align="left">
                        <input type="submit" name="c_submit" id="c_submit" class ='btn btn-success'>  
                     </td>
                  </tr>
               </table>
            </div>
            
         </div> 
           
      </form>
      <div style="height: 30px;"></div>
      <div class="flexbox flexbox-centre">
         <button onclick="" style="cursor: pointer;" class = 'btn btn-dark'>Dashboard</button>
      </div>
</div>