@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>

      <div id="home">
         <div class="container">

            <div style="height: 300px; width: 400px"></div>
            <h1 class="heading colour-heading stroke" id="about">THEMATIC PRESENTATIONS OF NEPALESE ART</h1>

        
           
         </div>
      </div>

      


      <div>
         <div class="container">
            <p>
            The National Museum of Nepal (Rashtriya Sangrahlaya) is a popular attraction of the capital city of Nepal,Kathmandu. About a century old, the museum stands as a tourist destination and historical symbol for Nepal. Being the largest museum of the country of Nepal, it plays an important role in nationwide archaeological works and development of museums. For the residents of Kathmandu, the monument serves to relive the battles fought on the grounds of Nepal. The main attractions are collection of historical artworks (sculpture and paintings) and a historical display of weapons used in the wars in the 18-19th century. The museum has separate galleries dedicated to statues, paintings, murals, coins and weapons. It has three buildings — Juddha Jayatia Kala Shala, Buddha Art Gallery and the main building which consists of natural historical section (collection of species of animals, butterflies and plants), cultural section and philatelic section.
            </p>
         </div>
         <div class="slideshow-container">
         <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
               <div class="flexbox flexbox-centre">
                  <img src="images/carousel/1.jpg" height="450">
               </div>
               <div class="text">Jayavarma (185 AD), with inscriptions in Brahmi script and Sanskrit language</div>
            </div>
         
            <div class="mySlides fade">
               <div class="flexbox flexbox-centre">
                  <img src="images/carousel/2.jpg" height="450">
               </div>
               <div class="text">Nah Bahal's Dharmadhatu Mandala in Patan</div>
            </div>
         
            <div class="mySlides fade">
               <div class="flexbox flexbox-centre">
                  <img src="images/carousel/3.jpg" height="450">
               </div>
               <div class="text">Surya with Navagraha (15th century)</div>
            </div>
         
            <!-- Next and previous buttons -->
         </div>

         <script src="js/carousel.js"></script>         
      </div>
      <div id="search_box_position">
         <form  method="POST">
            <div class="container flexbox flexbox-column">
               <div>
                  <h3>
                     Search for artifacts in museum
                  </h3>
               </div>
               <div>
                  <input type="text" name="artifact" id="artifact" placeholder="Artifact name" class="search">
               </div>
               <div>
                  <input type="submit" name="search_button" id="search_button" value="Search" class="search_button">                  
               </div>
               <div class="flexbox flexbox-centre">
                     
                     <span class="colour-red">Artifact not found.</span>
               </div>
            </div>
         </form>
      </div>

      <div class="container" id="contact">

         <button>Sign Up</button>
         <button>Sign In</button>
         <div></div>


         <div class="flexbox flexbox-centre">
               <div class="flexbox-basis-per05">
                  <a href="fb.com" class="facebook foot_link" target="fb">
                     <i class="fa fa-facebook"></i>
                  </a>
               </div>

               <div class="flexbox-basis-per05">
                  <a href="twitter.com" class="twitter foot_link" target="tw">
                     <i class="fa fa-twitter"></i>
                  </a>
               </div>

               <div class="flexbox-basis-per05">
                  <a href="google.com" class="google foot_link" target="gp">
                     <i class="fa fa-google"></i>
                  </a>
               </div>
         </div>           

      </div>
   </div>

</div>
